*{
    padding: 0%;
    margin: 0%;
    font-family: system-ui;
    box-sizing: border-box;
}
.hero{
    background-color: #232730;
    width:100%;
    min-height: 100vh;
    color: white;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav.menuimg{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;

}
nav.logoimg{
    width: 160px;
     cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: white;
    color: #00986f;
    font-weight: bold;
}
nav ul li a{
    padding: 5px 10px;
    border-radius: 30px;}

button{
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s ;
}
button span{
    display: block;
    background: #999;
    height:26px ;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s ,margin-left 0.5s;
}

.lampcontanier{
    position: absolute;
    top: 0%;
    left: 22px;
    width: 200px;
}
.lampimg{
    width: 89%;
    margin-left: 370px;
}
.lightimg{
    position: absolute;
    top:97%;
    left: 225%;
    transform: translatex(-50%);
    width: 680px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text-contanier{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 56%;
}
.text-contanier h1{
    font-size: 80px;
    font-weight: 400;
}
.text-contanier a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px ;
    display: inline-block;
    color:#fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}
.control .line span{
    width: 50%;
    height: 8px;
    background: #00986f;
    margin-top: -2px;
    border-radius: 4px;
    display: block;
}
.active{
    background: rgb(0, 128, 79);
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}